 <!--this file needs to be the same name as the file referenced in out user_mailer.rb  -->
 <h1>Welcome to RubyMailers.com, <%= @user.name %></h1>

 <p>
 You have successfully signed up to RubyMailers.com, your username is : <%= @user.username %>. <br>
 </p>

 <p>
 To login to the site, just follow this link <%= @url %>.
 </p>

 <p>
 Thank you for joining!
 </p>